.navbar {
    display: flex;
    flex-direction: row;
    gap: 350px;
    height: 15px;
    background-color: white;
    padding-bottom: 10px;
    padding-left: 0px;
    text-decoration: black;
    font-size: larger;
    font-weight: 300;
    font-style: normal;
    font-family: sans-serif;
    height: 50px;
}

contact {
    border-radius: 70%;
    size: 5px;
    height: 1px;
}

.divs {
    padding: 100px;
    display: grid;
    grid-template-columns: 1.5fr 1.3fr;

    gap: px;
    border-radius: 20px;
    width: 1150px;
    height: 900px;
    padding-top: 20px;
    padding-left: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
}

.submain {
    background-color: #F6FAFD;
    border-radius: 40px;
}


.k {
    size: 400px;
}

#email {
    background-color: #E3E9F3;
    height: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
}

.content {
    padding-left: 120px;
}

.list {
    gap: 80px;
}

.navbar3 {
    padding-left: 100px;
    gap: 80px;

}

.main {
    background-color: #F6FAFD;
    border-radius: 20px;
}

.accreg,
.cancelorder {
    padding-left: 120px;
}

.submain {
    padding-left: 30px;
}




.buttonn {
    position: absolute;
    top: 50%
}

.nav1 {
    display: flex;
    flex-direction: row;
}


#audi {
    height: 60px;
    border-radius: 50%;
}

#contact {
    height: 60px;
    border-radius: 50%;
}

.nav1 {
    padding-left: 20px;
    padding-bottom: 0px;
}

#music {
    width: 400px;
    height: 130px;
}

#num {
    width: 150px;
}

.sonywireless {
    display: flex;
    gap: 30px;
}

.apply {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 0px;
}

.buttonsize {
    width: 220px;
    height: 30px;
    border-radius: 10px;
}

.buttonsize1 {
    width: 150px;
    border-color: blue;
    border-radius: 10px;
    background-color: white;
}

#email {
    width: 400px;
    border-radius: 10px;
    height: 30px;
}

.accreg {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 50px;
}

#login {
    width: 200px;
    height: 20px;
}

.main {
    width: 600px;
}

.acc {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 110px;
}

.buttonsize2 {
    background-color: rgb(128, 128, 204);
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.cancelorder {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 160px;
    padding-top: 150px;
}
.table{display: flex;
flex-direction:row ;
gap: 200px;
padding-top: 30px;
text-decoration-color: black;
list-style: none;}

.list1,.list2{display: flex;
flex-direction: column;
gap: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-size-adjust: 50px;}


